name: Publish to VSCode Marketplace

on:
  # Run workflow manually
  workflow_dispatch:
  # Run workflow when a new release is created
  release:
    types:
    - created
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Publish
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
